<div id="works" class="project-all">
  <h1 class="work-title">Works</h1>
  <div class="project-container">
    <div class="box">
      <div class="works">
        <% data.products.each do |product| %>
          <div class="products" id="<%= product.id %>">
            <div class="product-img">
              <% if product.image %>
                <%= image_tag (product.image), class:"avatar-square intro photo mr-4" %>
              <% else %>
                <%= image_tag "noimage.png", alt: "no image", class:"avatar-square intro photo no-img mr-4"%>
              <% end %>
            </div>
            <div class="descriptions">
              <div class="description">
                <div class="name">
                  <h2><%= product.name %></h2>
                </div>
                <div class="link">
                  <% if product.url %>
                    <% link_to product.url, target: '_blank' do %>
                      <p><i class="fas fa-external-link-alt fa"></i></p>
                    <% end %>
                  <% else %>
                    <p class="link not-active"><i class="fas fa-external-link-alt"></i></p>
                  <% end %>
                </div>
              </div>
              <div class="intro">
                <% product.tags.each do |tag| %>
                  <span><i class="<%= tag %>"></i></span>
                <% end %>
              </div>
              <p><%= product.description %></p>
            </div>
          </div>
        <% end %>
        <div id="dots"></div>
        <button onclick="myFunction()" id="myBtn" class="more-btn">View more</button>
      </div>
    </div>
  </div>
</div>
